<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device", initial-scale="1.0">
    <title>Error|<%= title %></title>
    <%- include('./partials/header.ejs')%>
</head>
<body>
    <%- include('./partials/nav.ejs')%>
<div class="blogs content"> <h2>All Blogs</h2></div>
<hi> 404!!! There is an error</hi>
</div>
</body>
<%- include('./partials/footer.ejs')%>
</html>